/* Default Styles for Development*/
html body 
{
    text-align: center;
    * 
    {
        background-color: bisque;
        outline: solid 0.1vh black;
        font-family: Consolas, monospace;
    }
}

header 
{
    padding: 1vh 0;
    #Hdr-Img  
    {   
        width: 100%;
        height: 50vh;
        img 
        {
            object-position: 42% 20%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    #Hdr-Frm  
    {   
        width: 100%;
        img 
        {
            width: 100%;
            object-fit: scale-down;
        }
        
    }
}

nav 
{
    position: sticky;
    top: 0;
    ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        
        li {
            padding: 1vh 1vw;
            float: left;
            a 
            {
                display: block;
                text-decoration: none;
            }
        }
        .Nav-Logo
        {
            float: left;
        }
        .Nav-Links
        {
            float: right;
        }
    }
}



footer 
{
    padding: 1vh 0;
    
}